# Python
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
venv/
env/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Windows
Thumbs.db

# Environment variables
.env
